body {
	font-family: sans-serif;
}

.GameBackground {
	background: url(background.svg);
	background-position: center center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.GameBackground > div {
	position: absolute;
	overflow: visible;
	left: 50%;
	top: 50%;
}
